<body>
  <div class="container">
    <h1 class="mt-2">Dashboard</h1>
  
    <!-- Nút thêm -->
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      Thêm
    </button>
  
    <!-- Bảng thông tin -->
    <table class="table mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên</th>
          <th>Giới tính</th>
          <th>Tuổi</th>
          <th>SĐT</th>
          <th>Cấp độ</th>
          <th></th>
  
        </tr>
      </thead>
      <tbody>
  
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.level }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
              (click)="modaleditOpen()"
            >
              Sửa
            </button>
            <button
              data-bs-target="#deleteModal"
              class="btn btn-danger"
              (click)="modaldeleteToggle()"
            >
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>


<div
  class="modal fade modal-backdrop"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editEmployee"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sửa thông tin</h4>
        <button type="button" class="close" aria-label="Close" (click)="modaleditClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" id="name" >
          </div>
          <div class="form-group">
            <label for="gender">Giới tính</label>
            <select class="form-control" id="gender" >
              <option value="male">Nam</option>
              <option value="female">Nữ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="age">Tuổi</label>
            <input type="number" class="form-control" id="age" >
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" id="phone" >
          </div>
          <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" id="level" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveUser()">Lưu</button>
        <button type="button" class="btn btn-secondary" (click)="modaleditClose()">Hủy</button>
      </div>
  </div>
</div>
