<div class="side-nav-content">
  <ul class="nav-list">
    <li class="nav-list-item">
      <i class="fa fa-users text-white"></i>
      <span>
        <a id="employee" routerLink="employee" class="text-white text-decoration-none">
          Employee
        </a>
      </span>
    </li>

    <li class="nav-list-item">
      <i class="fa fa-coins text-white"></i>
      <span>
        <a id="expense" routerLink="expense" class="text-white text-decoration-none">
          Expense
        </a>
      </span>
    </li>

    <li class="nav-list-item">
      <i class="fa fa-box text-white"></i>
      <span>
        <a id="product" routerLink="product" class="text-white text-decoration-none">
          Product
        </a>
      </span>
    </li>

    <li class="nav-list-item">
      <i class="fas fa-shipping-fast text-white"></i>
      <span>
        <a id="order" routerLink="order" class="text-white text-decoration-none">
          Order
        </a>
      </span>
    </li>
    
  </ul>

</div>
